html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  /* CELULAR */
  background-color: #000000;

  border-radius: 20px;
}

main {
  min-height: calc(100vh - 10.5rem - 5rem);
}
